@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}

.maze-color {
  background-color: rgb(12, 53, 71);
}

.btn-disabled {
  background-color: #94a3b8;
}

.apply-wall-anim {
  animation-name: wall-anim;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wall-anim {
  0% {
    transform: scale(0.3);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.apply-bfspath-anim {
  animation-name: bfspath-anim;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes bfspath-anim {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }
  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

.apply-visited-anim {
  animation-name: visited-anim;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visited-anim {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.responsive-strt-btn {
}

.responsive-dest-btn {
}

.responsive-gen-btn {
}

.responsive-vis-btn {
}

.responsive-slct-btn {
}

.responsive-clr-mze-btn {
}

.responsive-clr-grd-btn {
}

@media (max-width: 1024px) {
  .responsive-vis-btn {
    left: 400px;
  }
}

@media (max-width: 912px) {
  .responsive-strt-btn,
  .responsive-dest-btn,
  .responsive-gen-btn,
  .responsive-vis-btn,
  .responsive-slct-btn,
  .responsive-clr-mze-btn,
  .responsive-clr-grd-btn {
    font-size: small;
    top: 25%;
  }

  .responsive-dest-btn {
    left: 95px;
  }

  .responsive-gen-btn {
    left: 217px;
  }

  .responsive-slct-btn {
    right: 193px;
  }

  .responsive-clr-mze-btn {
    right: 99px;
  }
}

@media (max-width: 844px) {
  .responsive-strt-btn,
  .responsive-dest-btn,
  .responsive-gen-btn,
  .responsive-vis-btn,
  .responsive-slct-btn,
  .responsive-clr-mze-btn,
  .responsive-clr-grd-btn {
    font-size: x-small;
    top: 25%;
  }

  .responsive-dest-btn {
    left: 80px;
  }

  .responsive-gen-btn {
    left: 180px;
  }

  .responsive-slct-btn {
    right: 163px;
  }

  .responsive-clr-mze-btn {
    right: 85px;
  }
}

@media (max-width: 780px) {
  .responsive-strt-btn,
  .responsive-dest-btn,
  .responsive-gen-btn,
  .responsive-vis-btn,
  .responsive-slct-btn,
  .responsive-clr-mze-btn,
  .responsive-clr-grd-btn {
    font-size: x-small;
    top: 25%;
  }

  .responsive-vis-btn {
    left: 340px;
  }
}

@media (max-width: 720px) {
  .responsive-strt-btn,
  .responsive-dest-btn,
  .responsive-gen-btn,
  .responsive-vis-btn,
  .responsive-slct-btn,
  .responsive-clr-mze-btn,
  .responsive-clr-grd-btn {
    font-size: x-small;
    top: 25%;
  }

  .responsive-vis-btn {
    left: 300px;
  }
}

@media (max-width: 680px) {
  .responsive-strt-btn,
  .responsive-dest-btn,
  .responsive-gen-btn,
  .responsive-vis-btn,
  .responsive-slct-btn,
  .responsive-clr-mze-btn,
  .responsive-clr-grd-btn {
    font-size: x-small;
    top: 25%;
  }

  .responsive-vis-btn {
    left: 280px;
  }
}

@media (max-width: 656px) {
  .responsive-strt-btn,
  .responsive-dest-btn,
  .responsive-gen-btn,
  .responsive-vis-btn,
  .responsive-slct-btn,
  .responsive-clr-mze-btn,
  .responsive-clr-grd-btn {
    font-size: xx-small;
    top: 19%;
    max-width: min-content;
  }

  .responsive-dest-btn {
    left: 58px;
  }

  .responsive-gen-btn {
    left: 132px;
  }

  .responsive-vis-btn {
    top: 30%;
  }

  .responsive-slct-btn {
    right: 107px;
    max-width: 92px;
    top: 30%;
  }

  .responsive-clr-mze-btn {
    right: 60px;
  }
}

@media (max-width: 568px) {
  .responsive-strt-btn,
  .responsive-dest-btn,
  .responsive-gen-btn,
  .responsive-vis-btn,
  .responsive-slct-btn,
  .responsive-clr-mze-btn,
  .responsive-clr-grd-btn {
    font-size: xx-small;
    top: 19%;
    max-width: min-content;
  }

  .responsive-vis-btn {
    top: 30%;
    left: 205px;
  }

  .responsive-slct-btn {
    top: 30%;
    max-width: 92px;
  }
}
